.about {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	padding: 50px 0;
	font-family: $fontFamily;
}

.about__container {
	width: 100%;
	height: 100%;
	position: relative;
}

.about__image {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 0 30px 0;
	position: relative;
	z-index: 1;

	img {
		display: block;
		width: 50%;
		height: 60%;
		object-fit: cover;
		object-position: 50%;
		clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);

	}

}


.about__info {
	width: 60%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px 100px;
	margin: 50px 0 0 0px;
	background-color: burlywood;
	clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);

	.about__info-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 0 0 0 50px;

	}
}

.about__header {
	text-align: center;
	padding: 0 0 50px 0;

	h3 {
		font-weight: 600;
		text-transform: uppercase;
		font-size: calc(18px + 7 * ((100vw - 320px) / (1100 - 320)));
	}

	p {
		font-size: calc(12px + 6 * ((100vw - 320px) / (1100 - 320)));
	}
}

.about__content {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -5px;

}

.about__column {
	flex: 0 1 50%;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	margin: 50px 0 0 0;

	.about__column-title {
		line-height: 20px;
		padding: 20px 10px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: calc(12px + 6 * ((100vw - 320px) / (1100 - 320)));
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}

	p {
		padding: 0px 10px;
		font-size: calc(10px + 5 * ((100vw - 320px) / (1100 - 320)));
	}
}