.calculation {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: skyblue;
	padding: 20px 0 20px 0;
	font-family: $fontFamily;
}

.calculating {}

.container {}

.title {}

.calculating__field {}

.calculating__subtitle {}

.calculating__choose {}

.calculating__choose-item {}

.calculating__choose-item_active {}

.calculating__choose_medium {}

.calculating__choose_big {}

.calculating__divider {}

.calculating__total {}

.calculating__result {}