.header {
	background-color: black;
	opacity: 0.8;
	position: fixed;
	z-index: 100;
	margin: 0 auto;
	width: 100%;


	//header container
	&__container {
		z-index: 1;
		position: relative;
		display: flex;
		align-items: center;
		height: 75px;

		@media (max-width: 992px) {
			justify-content: space-between;

		}
	}

	&__logo {
		display: block;
		width: 200px;
		//height: 100px;
		position: relative;
		z-index: 2;
		overflow: hidden;


		@media (max-width: 992px) {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

._container {}

.header__menu {}

.menu {

	flex: 1 1 auto;

	@media (max-width: 992px) {
		flex: 0 0 auto;
	}

	&__body {

		@media (max-width:992px) {
			background-color: black;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 100px 0 20px 0;
			overflow: scroll;
			opacity: 0;
			visibility: hidden;

			&:after {
				content: "";
				background-color: black;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 75px;
			}

			&._activate {

				transition: 0.8s ease 0s;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__list {
		display: flex;
		justify-content: center;

		li {
			margin: 0px 15px;
		}

		@media (max-width:992px) {
			display: block;
			text-align: center;

			li {
				margin: 0 0 30px 0;
			}

			li:last-child {
				margin: 0;
			}
		}
	}

	&__link {
		color: #ffffff;
		letter-spacing: 1.2px;
		font-family: $fontFamily;
		text-transform: uppercase;
		white-space: nowrap;
		position: relative;
		display: inline-block;
		font-weight: 600;
		text-decoration: none;
		overflow: hidden;
		transition: clip-path 350ms ease;
		font-size: 18px;

		&::before {
			position: absolute;
			content: attr(data-content);
			color: #FFF726;
			/* text-decoration: underline ;*/
			clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
			transition: clip-path 350ms ease;
		}

		&:hover::before {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}

		@media (max-width:992px) {
			font-size: calc(20px + 5 * ((100vw - 320px) / (1100 - 320)));
			font-weight: 600;


			&:hover::before {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			}

			&::before {
				position: absolute;
				content: attr(data-content);
				color: #FFF726;
				/* text-decoration: underline ;*/
				clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
				transition: clip-path 350ms ease;
			}
		}

		@media(min-width: 992px) {

			&:hover {
				//text-decoration: underline;
				//text-underline-offset: 0.5em;
			}
		}
	}
}

.menu-icon {
	@media (max-width:992px) {
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;

		span {
			transition: all 0.3 ease 0s;
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: rgb(161, 161, 161);

			&:first-child {
				transition: all 0.3s ease 0s;
				top: 0px;
			}

			&:last-child {
				transition: all 0.3s ease 0s;
				top: auto;
				bottom: 0px;
			}
		}

		&._activate {
			span {
				transform: scale(0);

				&:first-child {
					transform: rotate(45deg);
					top: 8px;
				}

				&:last-child {
					transform: rotate(-45deg);
					bottom: 8px;
				}
			}
		}
	}

}

.header__actions {
	position: relative;
	z-index: 2;
}

.actions__social {

	img {
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;

		&:hover {
			transform: scale(1.2);
		}
	}

}

.btn__call {
	width: 100%;
	border-radius: 5px;
	background: #dfdfdf;
	color: #000000;
	border: none;
	position: relative;
	height: 40px;
	font-size: 20px;
	padding: 0 10px;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;

	&:hover {
		color: #000000;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 3px;
		width: 0;
		background: #eed70a;
		transition: 400ms ease all;
	}

	&::after {

		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 3px;
		width: 0;
		background: #eed70a;
		transition: 400ms ease all;
	}

	&::after {
		right: inherit;
		top: inherit;
		left: 0;
		bottom: 0;
	}

	&:hover::before {
		width: 100%;
		transition: 800ms ease all;
	}

	&:hover::after {
		width: 100%;
		transition: 800ms ease all;
	}
}