.main__part {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background: url("../img/header.jpg") 50%/cover no-repeat;
	//background: rgb(8, 7, 7);
	background-attachment: fixed;
	font-family: $fontFamily;
	//border-radius: 0 0 10% 10%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.main__container {
	margin: 0 auto;
	//position: relative;
}

.main-image {
	width: 331px;
	height: 335px;

	position: absolute;
	bottom: 25%;
	left: 0%;
	//object-fit: cover;
	//object-position: 50%;
	//object-fit: cover;
	z-index: 2;

	@media(max-width: 1080px) {
		position: absolute;
		top: 15%;
		left: 0%;
	}

	@media(max-width: 840px) {
		display: none;
	}
}

.intro {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	background-color: rgb(49, 78, 69);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	transform: translateY(100%);
}

.intro-text {
	color: white;
	font-size: 50px;
	line-height: 60px;
}

.hide {
	background: black;
	overflow: hidden;

	span {
		transform: translateY(100%);
		display: inline-block;
	}
}


/*-- Sign Styles --*/

.sign {
	position: absolute;
	top: 5%;
	//left: 10%;
	right: 10%;

	min-height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	z-index: 1;

	@media(max-width: 430px) {
		position: absolute;
		top: 2%;
		right: 10%;
	}


	&__word {
		letter-spacing: 5px;
		padding: 0 15px;
		font-size: calc(30px + 15 * ((100vw - 320px) / (1100 - 320)));
		text-align: center;
		line-height: 1;
		color: #c6e2ff;
		animation: neon .08s ease-in-out infinite alternate;

	}

	&>:first-child {
		font-size: calc(50px + 20 * ((100vw - 320px) / (1100 - 320)));
		letter-spacing: 8px;
		font-weight: 700;
	}


	p {
		font-weight: 800;
		margin: 20px 0 0 0;
		text-transform: uppercase;
		font-size: calc(19px + 11 * ((100vw - 320px) / (1100 - 320)));
		color: #fff;
	}

}


/*-- Animation Keyframes --*/

// animation

@keyframes neon {
	from {
		text-shadow:
			0 0 6px rgba(183, 221, 14, 0.92),
			0 0 30px rgba(225, 240, 15, 0.34),
			0 0 12px rgba(201, 235, 11, 0.52),
			0 0 21px rgba(203, 224, 11, 0.92),
			0 0 34px rgba(231, 228, 9, 0.78),
			0 0 54px rgba(226, 230, 9, 0.92);
	}

	to {
		text-shadow:
			0 0 6px rgba(212, 183, 14, 0.98),
			0 0 30px rgba(224, 192, 10, 0.42),
			0 0 12px rgba(219, 216, 7, 0.58),
			0 0 22px rgba(223, 219, 13, 0.84),
			0 0 38px rgba(200, 221, 13, 0.88),
			0 0 60px rgb(219, 206, 16);
	}
}