.prices {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	min-height: 100vh;
	background: url("../img/2.jpg") 50%/cover no-repeat;
}

.services {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 50px 0 70px 0;
}

.services_header {
	text-align: center;

	h2 {
		font-size: 40px;
		font-weight: 700;
	}

	p {
		padding: 30px 20px;
		font-size: 15px;
		letter-spacing: 0.8;
		line-height: normal;
	}
}

.services__columns {
	max-width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0px -5px;
}

.services__column {
	flex: 0 1 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	border-radius: 15px;
	margin: 0 auto;
	overflow: hidden;
	margin: 0px -10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

	.column__image {
		width: 100%;
		height: 100%;
		max-height: 350px;


		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			padding: 0;
			display: block;
		}

	}

	.column__title {
		text-align: center;
		flex: 1 1 auto;
		padding: 20px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: calc(16px + 11 * ((100vw - 320px) / (1100 - 320)));
	}

	p {
		padding: 10px 10px;
	}
}