//  Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,600,600italic,700,700italic,800,800italic,900,900italic-ext");

$fontFamily : "Montserrat";
//  other scss 

@import "zerocss.scss";
@import "header.scss";
@import "main.scss";
@import "price.scss";
@import "location.scss";
@import "calc.scss";
@import "facilities.scss";
@import "schedule.scss";
@import "footer.scss";
// Variables 
$minWidth : 320px;
$mw :1100;
$md1 : $mw+12;
$md2: 992;
$md3 : 768;
$md4 : 480;

// environment 

.wraper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//  main grid

._container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0 10px;

	/* @media (max-width: $md1 + px) {
		max-width: 970px;
	}

	@media (max-width: $md2 + px) {
		max-width: 750px;
	} 

	@media (max-width: $md3 + px) {
		max-width: none;
		padding: 0 10px;
	}*/
}

.page {
	flex: 1 1 auto;
	margin: 0 auto;
	width: 100%;
	font-family: $fontFamily;
}

.sec-text {
	//background: linear-gradient(to right, #fffc00, #ffffff);
	padding: 2% 8%;
	height: auto;
	opacity: 0;
	transform: translateY(60px);
	transition: 0.8s all ease-in-out;
	font-weight: 500;
}

.appear {
	opacity: 1;
	transform: translateY(0px);
	padding: 2% 8%;
	height: auto;
}

.sec-text__title {
	margin: 0;
	padding: 0;
	font-size: 2em;
}

.sec-text__dsc {
	font-size: 1em;
}

.modal {
	display: none;
}