body {
  font-size: 50px;
  color: red;
}

.main {
  background: url(../img/2.jpg) 0 0 no-repeat;
}

span {
  font-size: 20px;
  transform: rotate(45deg);
}

div {
  font-size: 40px;
  display: flex;
}

@media (max-width: 767px) {
  span {
    font-size: 15px;
  }

  div {
    font-size: 20px;
  }
}